{% extends "base.html" %}

{% block content_view_profile %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{title}}</title>
    <br>
    <div class="mx-auto" style="width: 500px;">
        <form class="profile_form" name="form" method="post">
            <div>
                <center><h1>{{username}}</h1></center>
                <center>
                    {% if current_user.is_authenticated %}
                        <a href="/chat/{{current_user.username}}&{{username}}">
                        <img src="/static/img/msg-icon.png" width="100" height="100">
                        </a>
                    {% else %}
                        <a href="/chat/None&{{username}}">
                        <img src="/static/img/msg-icon.png" width="100" height="100">
                        </a>
                    {% endif %}
                    <br><h2>Отправить сообщение</h2><br>
                </center>
            </div>
        </form>
    </div>
{% endblock %}